{% extends "polls/base.html" %}
{% block title %}投票列表{% endblock %}
{% block polls-content %}
    <h1>有哪些投票?</h1>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% else %}
                <li><a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>目前沒投票喔，去加一個喇</p>
    {% endif %}
{% endblock %}