li a {
    color: saddlebrown;
}
a {
    display:block
}
.mycenter {
    font-size: x-large;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /*background-color: a;*/
}

.table-center {
    width: 75%;
}

.helptext {
    display: none;
}

.top-bar {
    top: 0;
    right: 0;
    position: fixed;
    margin: 3px;
}
