{% extends "base_generic.html" %}
{% block title %}註冊用戶{% endblock %}
{% block content %}

    <form method="post" action="{% url 'django_registration_register' %}">
        {% csrf_token %}
        <table class="table-center">
           {{ form.as_table }}
        </table>
        <input type="submit" value="Sign Up"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    <p><a href="{% url 'login' %}">Login?</a></p>
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}